{% extends "base.html" %}
{% block title %}Dashboard - JN Records{% endblock %}
{% block content %}
<div class="dashboard-wrapper">
    <div class="sidebar">
        <h1>JN Music Group</h1>
        <hr>
        <nav>
        <a href="#">User Home</a>
        <a href="{{ url_for('routes.database') }}">Database</a>
        <a href="#">Archives</a>
        <a href="#">Help</a>
        </nav>
    </div>

  
  <div class="main-content">
    <h2>Dashboard</h2>

    <div class="search-bar">
      <form method="POST" action="{{ url_for('routes.search') }}">
        <input type="text" name="search_query" placeholder="Search for files, artists, tags...">    
        <button type="submit">Search</button>
      </form>
    </div>

    <button class="upload-btn" onclick='location.href="{{ url_for("routes.upload") }}"'>Upload a PDF</button>
</div>
</div>
  {% endblock %}
