{% extends "base.html" %}
{% block title %}Upload - JN Records{% endblock %}
{% block content %}

<div style="position: fixed; top: 10px; left: 10px; z-index: 999;">
    <a href="{{ url_for('routes.dashboard') }}"
        style="top: 15px; left: 15px; z-index: 1000;
          background-color: white;
          border: 2px solid black;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: black;"
    title="Return to Dashboard">
    <i class="fas fa-house"></i>
    </a>
  </div>

<div class="container" style="padding-top: 70px;">
<h2>Upload Contract</h2>
    <form method="POST" action="{{ url_for('routes.upload') }}" enctype="multipart/form-data">
        <input type="file" name="contract_file" accept=".pdf,.docx" required>
        <br><br>
        <button type="submit">Upload</button>
    </form>
</div>
{% endblock %}
