body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.sidebar h1 {
    font-size: 20px;
    margin-top: 0;
}

.sidebar nav a {
    display: block;
    margin: 10px 0;
    color: black;
    text-decoration: none;
}

.main-content {
    flex: 1;
    padding: 30px;
}

.main-content h2 {
    font-size: 28px;
}

.search-bar {
    margin-top: 20px;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
}

footer {
    border-top: 1px solid #ccc;
    padding: 20px;
    font-size: 14px;
    background-color: #fafafa;
    text-align: center;
}

.home-banner {
    width: 100%;
    height: 250px;
    background-image: url("/static/images/JN-Logo-Crop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.action-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 40px auto;
    width: 100%;
    text-align: center;
}

.action-box {
    width: 350px;
    padding: 30px 0;
    font-size: 18px;
    background-color: #111;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.action-box:hover {
    background-color: #333;
}


.dashboard-wrapper {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    background-color: #111;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar h1 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
}

.sidebar nav a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 15px;
}

.sidebar nav a:hover {
    color: white;
}

.sidebar ul li.active a {
    font-weight: bold;
    color: #f1c40f; 
  }  

.sidebar a {
    color: white !important;
    text-decoration: none !important;
}

.sidebar a:hover {
    color: #f1c40f !important;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul ul {
    padding-left: 15px;
}

.main-content {
    flex: 1;
    padding: 40px 60px;
    background-color: #f9f9f9;
}

.main-content h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.search-bar form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    background-color: #111;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #333;
}

.upload-btn {
    margin-top:30px;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.upload-btn:hover {
    background-color: #333;
}

.card {
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

body {
    margin: 0;
    padding: 0;
    background-color: #fff; 
}

.sidebar ul.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .sidebar ul.sidebar-nav ul {
    gap: 10px;
    margin-left: 15px;
  }
  
  .sidebar-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .sidebar-logo img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .table th, .table td {
    vertical-align: middle;
    font-size: 14px;
  }

  .login-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 40px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    width: 100%;
}

.login-logo {
    max-width: 400px;
    margin-bottom: 5px;
}

.login-container input.form-control {
    width: 100%;
    height: 42px;
    font-size: 16px;
}

.login-container .btn-primary {
    height: 42px;
    font-size: 16px;
}

.upload-box {
    border: 2px dashed #bbb;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 500px;
    background-color: #fefefe;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s;
}

.upload-box:hover {
    background-color: #f9f9f9;
}

.upload-box p {
    margin: 0;
    font-size: 16px;
}